<a href="https://colab.research.google.com/github/BossDever/DataManipulation/blob/main/6404022630308_Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เว็บ data set : https://www.premierleague.com/tables

In [ ]:

import pandas as pd


file_path = "/content/E0.csv"
data = pd.read_csv(file_path)


print("Step 1: Load and process the results file")
print(data.head())

Step 1: Load and process the results file
  Div        Date   Time     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0  E0  11/08/2023  20:00      Burnley       Man City     0     3   A     0
1  E0  12/08/2023  12:30      Arsenal  Nott'm Forest     2     1   H     2
2  E0  12/08/2023  15:00  Bournemouth       West Ham     1     1   D     0
3  E0  12/08/2023  15:00     Brighton          Luton     4     1   H     1
4  E0  12/08/2023  15:00      Everton         Fulham     0     1   A     0

   HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
0     2  ...     2.28  1.50      1.95      1.98   1.95   1.97      NaN
1     0  ...     2.63 -2.00      1.95      1.98   1.93   1.97     2.01
2     0  ...     2.12  0.00      2.02      1.91   2.01   1.92     2.06
3     0  ...     2.48 -1.75      2.01      1.92   2.00   1.91     2.14
4     0  ...     1.71 -0.25      2.06      1.87   2.04   1.88     2.08

   MaxCAHA  AvgCAHH  AvgCAHA
0      NaN     1.92     1.95
1     2.09     1.95     1.92
2     1.96     1.96     1.91
3     1.93     2.00     1.86
4     1.99     1.98     1.88

[5 rows x 106 columns]

In [ ]:

teams_df = pd.DataFrame()
teams_df['Team'] = data['HomeTeam'].unique()


teams_df['Played'] = 0
teams_df['Win'] = 0
teams_df['Lose'] = 0
teams_df['GF'] = 0
teams_df['GA'] = 0
teams_df['GD'] = 0
teams_df['Point'] = 0


print("\nStep 2: Initialize DataFrame")
print(teams_df)

Step 2: Initialize DataFrame
                Team  Played  Win  Lose  GF  GA  GD  Point
0            Burnley       0    0     0   0   0   0      0
1            Arsenal       0    0     0   0   0   0      0
2        Bournemouth       0    0     0   0   0   0      0
3           Brighton       0    0     0   0   0   0      0
4            Everton       0    0     0   0   0   0      0
5   Sheffield United       0    0     0   0   0   0      0
6          Newcastle       0    0     0   0   0   0      0
7          Brentford       0    0     0   0   0   0      0
8            Chelsea       0    0     0   0   0   0      0
9         Man United       0    0     0   0   0   0      0
10     Nott'm Forest       0    0     0   0   0   0      0
11            Fulham       0    0     0   0   0   0      0
12         Liverpool       0    0     0   0   0   0      0
13            Wolves       0    0     0   0   0   0      0
14         Tottenham       0    0     0   0   0   0      0
15          Man City       0    0     0   0   0   0      0
16       Aston Villa       0    0     0   0   0   0      0
17          West Ham       0    0     0   0   0   0      0
18    Crystal Palace       0    0     0   0   0   0      0
19             Luton       0    0     0   0   0   0      0

In [ ]:

for index, row in data.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    fthg = row['FTHG']
    ftag = row['FTAG']

    teams_df.loc[teams_df['Team'] == home_team, 'Played'] += 1
    teams_df.loc[teams_df['Team'] == home_team, 'GF'] += fthg
    teams_df.loc[teams_df['Team'] == home_team, 'GA'] += ftag


    teams_df.loc[teams_df['Team'] == away_team, 'Played'] += 1
    teams_df.loc[teams_df['Team'] == away_team, 'GF'] += ftag
    teams_df.loc[teams_df['Team'] == away_team, 'GA'] += fthg


    if row['FTR'] == 'H':
        teams_df.loc[teams_df['Team'] == home_team, 'Win'] += 1
        teams_df.loc[teams_df['Team'] == away_team, 'Lose'] += 1
        teams_df.loc[teams_df['Team'] == home_team, 'Point'] += 3
    elif row['FTR'] == 'A':
        teams_df.loc[teams_df['Team'] == away_team, 'Win'] += 1
        teams_df.loc[teams_df['Team'] == home_team, 'Lose'] += 1
        teams_df.loc[teams_df['Team'] == away_team, 'Point'] += 3
    else:
        teams_df.loc[teams_df['Team'] == home_team, 'Point'] += 1
        teams_df.loc[teams_df['Team'] == away_team, 'Point'] += 1

print("\nStep 3: Calculate team statistics")
print(teams_df)

Step 3: Calculate team statistics
                Team  Played  Win  Lose  GF  GA  GD  Point  Rank
12         Liverpool      40   26     2  86  36  25     90     1
16       Aston Villa      40   26     8  86  54  16     84     2
1            Arsenal      40   24     8  74  40  17     80     3
15          Man City      38   24     6  90  42  24     80     4
14         Tottenham      40   24    10  84  58  13     78     5
17          West Ham      40   20    12  66  60   3     68     6
3           Brighton      40   16    10  76  66   5     62     7
9         Man United      40   20    18  44  54  -5     62     8
6          Newcastle      40   18    18  78  58  10     58     9
13            Wolves      40   16    16  60  62  -1     56    10
8            Chelsea      40   16    16  68  62   3     56    11
4            Everton      40   16    20  48  56  -4     52    12
2        Bournemouth      38   14    16  56  70  -7     50    13
11            Fulham      40   14    20  56  70  -7     48    14
18    Crystal Palace      40   10    18  44  58  -7     42    15
10     Nott'm Forest      40   10    20  48  70 -11     40    16
7          Brentford      38   10    20  52  62  -5     38    17
19             Luton      38    8    24  46  74 -14     30    18
0            Burnley      40    6    30  40  82 -21     22    19
5   Sheffield United      40    4    30  30  98 -34     18    20

In [ ]:

teams_df['GD'] = teams_df['GF'] - teams_df['GA']

teams_df = teams_df.sort_values(by='Point', ascending=False)


teams_df['Rank'] = range(1, len(teams_df) + 1)


print("\nStep 4: Calculate goal difference, sort, and add Rank column")
print(teams_df)

Step 4: Calculate goal difference, sort, and add Rank column
                Team  Played  Win  Lose  GF  GA  GD  Point  Rank
12         Liverpool      20   13     1  43  18  25     45     1
16       Aston Villa      20   13     4  43  27  16     42     2
1            Arsenal      20   12     4  37  20  17     40     3
15          Man City      19   12     3  45  21  24     40     4
14         Tottenham      20   12     5  42  29  13     39     5
17          West Ham      20   10     6  33  30   3     34     6
3           Brighton      20    8     5  38  33   5     31     7
9         Man United      20   10     9  22  27  -5     31     8
6          Newcastle      20    9     9  39  29  10     29     9
13            Wolves      20    8     8  30  31  -1     28    10
8            Chelsea      20    8     8  34  31   3     28    11
4            Everton      20    8    10  24  28  -4     26    12
2        Bournemouth      19    7     8  28  35  -7     25    13
11            Fulham      20    7    10  28  35  -7     24    14
18    Crystal Palace      20    5     9  22  29  -7     21    15
10     Nott'm Forest      20    5    10  24  35 -11     20    16
7          Brentford      19    5    10  26  31  -5     19    17
19             Luton      19    4    12  23  37 -14     15    18
0            Burnley      20    3    15  20  41 -21     11    19
5   Sheffield United      20    2    15  15  49 -34      9    20

In [ ]:

styled_df = (
    teams_df.style
    .bar(subset=['Point'], color='#FFA07A')
    .background_gradient(cmap=sns.light_palette("green", as_cmap=True), subset=['GF', 'GA', 'GD'])
    .highlight_max(subset=['Point'])
    .highlight_min(subset=['Point'])
)


styled_df